@media (max-width: 900px) {
    .dhx_cal_navline .dhx_cal_date {
        display: none;
    }
}


@media (max-width: 550px) {

    .dhx_cal_next_button, .dhx_cal_prev_button {
        width: 20px;
    }

    .dhx_cal_today_button {
        display: none;
    }

    .dhx_cal_tab {
        width: 50px;
    }
}

@media (max-width: 550px) {
    .dhx_cal_tab[name=agenda_tab] {
        display: none;
    }

}